:root {
  --top-color: #212121;
  --medium-color: #ffffff;
  --back-color: #2196f3;
  --main-fs: 14px;
  --logo-color: #000;
  --hero-color: #757575;
  --big-color: #2f303a;
  --small-color: #f5f4fa;
  --min-color: rgba(255, 255, 255, 0.6);
  --btn-color: #188ce8;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--top-color);
  background-color: var(--medium-color);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

/*---------------HEADER--------------*/
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--logo-color);
}
.logo-left-side {
  color: var(--back-color);
}
.header-link-blue {
  font-weight: 500;
  font-size: var(--main-fs);
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--back-color);
}
.header-link {
  font-weight: 500;
  font-size: var(--main-fs);
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--top-color);
}
.header-link:hover,
.header-link:focus {
  color: var(--back-color);
}

.header-contacts-list {
  font-weight: 500;
  font-size: var(--main-fs);
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--hero-color);
}
.header-contacts-list:hover,
.header-contacts-list:focus {
  color: var(--back-color);
}
.header-contacts-link {
  font-weight: 500;
  font-size: var(--main-fs);
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--hero-color);
}
.header-contacts-link:hover,
.header-contacts-link:focus {
  color: var(--back-color);
}
/*-----------MAIN-----------*/

.hero {
  background-color: var(--big-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--medium-color);
}
.hero-button {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--medium-color);
  background-color: var(--back-color);
  cursor: pointer;
  border-color: transparent;
  border-radius: 4px;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--btn-color);
}

/*-------------FEATURES------------*/
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.features-list-title {
  font-weight: 700;
  font-size: var(--main-fs);
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--top-color);
}
.features-text {
  font-size: var(--main-fs);
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--hero-color);
}
/*--------------WORK------------*/
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--top-color);
}
/*-------------SPECIALISTS------------*/
.specialists {
  background-color: var(--small-color);
}
.specialists-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--top-color);
}
.specialists-item {
  background-color: var(--medium-color);
}
.specialists-text {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--hero-color);
}
/*-------------FOOTER------------*/
.footer-adress {
  background-color: var(--big-color);
}
.footer-adress-link {
  font-style: normal;
  font-size: var(--main-fs);
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--medium-color);
}
.footer-adress-link:hover,
.footer-adress-link:focus {
  color: var(--back-color);
}
.footer-contacts-link {
  font-style: normal;
  font-size: var(--main-fs);
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--min-color);
}
.footer-contacts-link:hover,
.footer-contacts-link:focus {
  color: var(--back-color);
}
.logo-right-side {
  color: var(--medium-color);
}
/*------------PORTFOLIO---------*/
.filter-button {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--top-color);
  background-color: var(--small-color);
  cursor: pointer;
  border-color: transparent;
  border-radius: 4px;
}
.filter-button:hover,
.filter-button:focus {
  background-color: var(--back-color);
  color: var(--medium-color);
}
.filter-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--top-color);
}
.filter-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--hero-color);
}
